<% layout('/layouts/boilerplate') -%>

    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">

            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" class="needs-validation"
               enctype="multipart/form-data" novalidate>

                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name='campground[title]'
                        value="<%= campground.title%>"" required>
                        </div>
                        <div class=" mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name='campground[location]'
                        value="<%= campground.location%>" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="price-label">$</span>
                        <input id="price" type="number" class="form-control" placeholder="0.00" min="0"
                            aria-label="price" name="campground[price]" value="<%= campground.price%>"
                            aria-describedby="price-label" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description"
                        name='campground[description]'><%= campground.description%></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Upload images</label>
                    <input class="form-control mb-4" type="file" id="" name='image' multiple>
                    <div class="mb-3">
                        <% campground.images.forEach((img, index) => { %> 
                            <img src="<%= img.url %>" class="img-thumbnail" alt="">
                            <div class="form-check">
                                <input type="checkbox" class="" value="<%= img.filename %>" name="deleteImages[]" id="image-<%= index %>">
                                <label for="image-<%= index %>">Check to delete the image above</label>
                            </div>
                        <% } ) %> 
                    </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update campground</button>
                </div>
            </form>
            <footer>
                <a href=" /campgrounds/<%=campground._id %>">back to campground</a>
            </footer>
        </div>
    </div>