<% layout('/layouts/boilerplate') -%>
<link rel="stylesheet" href="/css/reviewStars.css">
<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <img src="<%= campground.image %>" alt="" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %></h5>
                <p class="card-text"><%= campground.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted">
                    <%= campground.location %>
                </li>
                <li class="list-group-item text-muted">
                    Submitted by <%= campground.author.username %>
                </li>
                <li class="list-group-item">$<%= campground.price %> /night</li>
            </ul>
            <div class="card-body">
                <% if (currentUser && campground.author.equals(currentUser._id)) {%>

                <a class="card-link btn btn-outline-warning my-1"
                    href="/campgrounds/<%= campground._id%>/edit"
                    >edit</a>
                <form
                    class="d-inline"
                    action="/campgrounds/<%= campground._id %>?_method=DELETE"
                    method="POST">
                    <button class="card-link btn btn-outline-danger my-1">
                        delete
                    </button>
                </form>
                <% } %>
                <a class="card-link btn btn-outline-info my-1" href="/campgrounds"
                    >back to all campgrounds</a>
            </div>
        </div>
    </div>
    <div class="col-4 offset-1">
        <% if (currentUser) { %>
        <form
            class="mb-3 needs-validation"
            action="/campgrounds/<%= campground._id %>/reviews"
            method="POST"
            novalidate>
            <div class="mb-3">
                <fieldset class="starability-checkmark">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>            <div class="mb-3">
                <label class="form-label" for="reviewBody"
                    >Write a review:</label>
                <textarea
                    class="form-control"
                    name="review[body]"
                    id="reviewBody"
                    cols="30"
                    rows="3"
                    required></textarea>
            </div>
            <button class="btn btn-outline-success mb-3">add review</button>
        </form>
        <% } %>

        <% for (let review of campground.reviews) { %>
        <div class="mb-3 card">
            <div class="card-body">
                <p class="m-auto mb-2 starability-result" data-rating="<%= review.rating %>">
                    Rated: <%= review.rating %> stars
                  </p>
                <p class="card-text text-center"><%= review.body %></p>
                <footer class="blockquote-footer text-center">
                    <%= review.author.username %>
                </footer>
                <form
                    class="d-flex justify-content-end"
                    method="POST"
                    action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE">
                    <% if (currentUser && review.author._id.equals(currentUser._id)) { %> 
                    <button class="btn btn-sm btn-outline-danger">
                        delete
                    </button>
                    <% } %> 
                </form>
            </div>
        </div>
        <% } %>
    </div>
</div>
